.add-detail-page {

    padding-top: 20px;

    fieldset {
        border: solid 1px lighten($gray, 3%);
        margin-bottom: 30px;
        background-color: lighten($light-gray, 5%);
        padding-top: 20px;

        legend {
            font-size: 14px;
            padding: 0 10px;
            color: $dark-gray;
            letter-spacing: .5px;
            font-weight: 100;
        }
    }

    .add-detail-inputs {

        select,
        button {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    %visible-status-bar {
        opacity: 1;
        transform: translateY(0px);
    }

    .ajax-status {
        font-size: 14px;
        font-size: 14px;
        padding: 20px;
        font-weight: 100;
        opacity: 0;
        transform: translateY(50px);
        background-color: $white;
        transition: transform .5s ease-in, opacity .5s ease-in, background-color .5s ease-in;

        &.success {
            @extend %visible-status-bar;
            background-color: lighten($green, 70%);
            color: $green;
            border: solid 1px lighten($green, 30%);
        }

        &.error {
            @extend %visible-status-bar;
            background-color: lighten($red, 45%);
            color: $red;
            border: solid 1px lighten($red, 30%);
        }
    }
}