.results-table {
    margin-bottom: 20px;
    border: solid 1px;
    border-style: 1px;
    border-style: solid;
    border-color: $gray;

    .results-table-head {
        background-color: $light-gray;
        font-size: 14px;
        color: darken($gray, 40%);
        font-weight: 100;
        margin: 0;
        padding: 15px;
        border-bottom: solid 1px $gray;
    }

    .result-row {
        border-bottom: solid 1px lighten($light-gray, 2%);
        font-size: 14px;
        color: $black;
        font-weight: 100;
        margin: 0;
        padding: 15px;

        &:last-child {
            border-bottom: none;
        }

    }

}